@media (min-width: 1024px) {
  .hero {
    height: 326px;
    background: none;
  }
}

.hero {
  height: 25vh;
  text-align: center;
  background-image: url("./assets/images/hero_mobile.png");
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1024px) {
  .hero__img {
    display: block;
  }
}

.hero__img {
  display: none;
}

.hero__txt {
  position: absolute;
  top: 60%;
  width: 100%;
}

@media (min-width: 1024px) {
  .hero__overlay {
    top: -100%;
    height: 326px;
    gap: 50px;
  }
}

.hero__overlay {
  top: 0;
  gap: 20px;
  height: 100%;
  background-color: rgba(57, 57, 57, 0.4);
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.hero__overlay h1 {
  margin:0;
}

@media (min-width: 1024px) {
  .project__container {
    display: grid;
    /* margin-left: 60px; */
    grid-template-columns: repeat(3, 30%);
    gap: 5px;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 50px;
  }
}

.project__container {
  margin-top: 35px;
  margin-bottom: 35px;
  text-align: center;
  justify-items: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .project {
    display: grid;
    height: 350px;
    width: 350px;
  }
}

.project {
  width: 80vw;
  height: 80vw;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid gray;
}

.sapien {
  background-image: url("./assets/images/sapien.svg");
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.tot {
  background-image: url("./assets/images/tot.png");
  background-size: 80% 80%;
  background-position: center;
  background-repeat: no-repeat;
}

.rnn {
  background-image: url("./assets/images/rnn.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}